<h2>{{titulo}}</h2>
<p>Compra las zapatillas de las mejores marcas</p>
<ul>
    <li *ngFor="let marca of marcas; let indice = index">{{indice + ' ' + marca}}</li>
</ul>

<p>Las deportivas que tenemos disponibles son:</p>
<ul>
    <li *ngFor="let deportiva of zapatillas">
        
            <span [ngStyle]="{
                'text-decoration': !deportiva.stock ? 'line-through' : 'none'
            }">
                {{ deportiva.nombre }} - <strong>{{deportiva.precio}} Bs.</strong>
            </span>

            <span *ngIf="deportiva.precio <= 80"
                [style.background]="deportiva.precio <= 80 ? 'green' : 'transparent'"
                [style.color]="deportiva.precio <= 80 ? 'white' : 'blue'"
                >¡En oferta!</span>

            <span *ngIf="deportiva.precio > 80"
                [style.background]="deportiva.precio > 80 ? 'blue' : 'transparent'"
                [style.color]="deportiva.precio > 80 ? 'white' : 'blue'"
                >¡Precio sin oferta!</span>
        
    </li>
</ul>